<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Self Information Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1 class="display-1">Self Information</h1>
		<p class="lead">The following information was collected about the
			server system.</p>
		<table class="table">
			<thead>
				<tr class="thead-dark">
					<th>Description</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody th:each="informationProvider : ${informationProviders}">
				<tr class="thead-light">
					<th colSpan="2" th:text="${informationProvider}"></th>
				</tr>
				<tr
					th:each="entry : ${informationProvider.getInformation().entrySet()}">
					<td th:text="${entry.getKey()}">Key</td>
					<td th:text="${entry.getValue()}">Value</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>